* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	background-color: #111;
}

header, div.inner.cover, footer {
	-webkit-transition: filter .25s ease;
	-moz-transition: filter .25s ease;
	-ms-transition: filter .25s ease;
	-o-transition: filter .25s ease;
	transition: filter .25s ease;
}

body {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	color: #DDD;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
	width: 60em;
}

.masthead {
	margin-bottom: 2rem;
}

.masthead-brand {
	margin-bottom: 0;
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

.error-image {
	max-width: 400px;
	border-radius: 3px;
	opacity: 0.6;
}

.cover {
	padding: 0 1.5rem;
}

.mastfoot {
	color: rgba(255, 255, 255, .5);
}

.cover-index {
	text-align: left;
	margin-top: 25px;
	padding-left: 175px;
}

.register-captcha, .form-control {
	width: 305px;
	margin: 5px auto;
}

input[type="password"], input[type="text"], input[type="email"] {
	color: #111;
	background-color: #DDD;
}

.pages {
	margin: 20px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.inPages {
	width: 3em;
	border: 1px solid #DDD;
	border-right: none;
	box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .5);
}

.inPages:first-child {
	border-radius: 3px 0 0 3px;
}

.inPages:last-child {
	border-radius: 0 3px 3px 0;
	border-right: 1px solid #DDD;
}

.pageInput {
	width: 3em;
	text-align: center;
}

.clickable {
	font-size: 1.1em;
}

.clickable:hover, .clickable:focus {
	cursor: pointer;
	background-color: #222;
}

.clickable:active {
	background-color: #333;
	border-color: #FFF;
	color: #DDD;
}

#uploads {
	word-wrap: break-word;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin: 1.5rem -1.5rem;
	max-height: 34em;
	overflow: auto;
}

.file {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	width: 17em;
	height: 17em;
	padding: 0.5em;
	margin: 0.5em;
	background-color: #181818;
	border-radius: 3px;
}

.fileImage, 
.fileVideo {
	cursor: pointer;
	max-height: 80%;
	max-width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.fileAudio,
.fileDefault {
	height: 7em;
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.fileFooter {
	margin: 0.25em auto;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}

.fileFooter span {
	padding: 0 3px 0 3px;
}

.infos-user,
.info-upload {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 3px 3px 4px #000;
}

.info-upload {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 700px;
	height: 400px;
	background: url('../img/drag.gif') no-repeat center;
	border-radius: 10px 10px 0 0;
}

.info-upload-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: #333;
	padding: 7px;
}

#upload-trigger {
	position: absolute;
	top: 3px;
	bottom: 83px;
	left: 3px;
	right: 3px;
	border: 2px dotted #DDD;
	border-radius: 10px 10px 0 0;
	cursor: grab;
}

#close-upload,
#close-infos {
	cursor: pointer;
	display: inline;
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	font-size: 1.5em;
}

.inputfile {
	width: 10.1px;
	height: 10.1px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

.labelfile {
	cursor: pointer;
	color: #333;
	width: 75px;
	background-color: #CCC;
	background-image: linear-gradient(to bottom, #e0e0e0, #b7b7b7);
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 #000;
	margin: 5px;
}

#upload-name {
	position: absolute;
	left: 0.5rem;
	bottom: 1rem;
}

#upload-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0;
	background-color: #CCC;
	background-image: linear-gradient(to bottom, #e0e0e0, #b7b7b7);
}

#upload-msg {
	position: absolute;
	right: 0.5rem;
	bottom: 1rem;
}

.progress-dark {
	background-color: #004600;
}

#infos-user-display {
	margin-bottom: 5px;
}

.infos-user {
	background-color: #141414;
	border-radius: 2px;
	padding: 15px;
	max-width: 700px;
}

.infos-user p {
	padding: 0 75px;
}

.apikey-copy {
	font-size: 0.8em;
	background-color: #181818;
	border-radius: 5px;
	cursor: copy;
}

.formContainer {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	align-items: center;
	margin: 20px auto;
}

.inForm {
	min-width: 35%;
	height: 2em;
	text-align: left;
	padding-left: 110px;
}

.inFormInput {
	min-width: 50%;
	padding-right: 50px;
}

.inFormInput input {
	width: 10rem;
	border-radius: 2px;
}

::-moz-selection {
	color: #333;
	background-color: #DCDCDC;
}

::selection {
	color: #333;
	background-color: #DCDCDC;
}

@media (max-width: 48em) {
	.error-image {
		width: 60%;
	}
	.form-control {
		width: 250px;
	}
	.cover-index {
		text-align: center;
		padding: 0;
	}
	.info-upload {
		width: 90%;
		height: 430px
	}
	.info-upload-footer {
		height: 110px;
	}
	#upload-trigger {
		bottom: 113px;
	}
	#upload-name,
	#upload-msg {
		position: static;
	}
	.infos-user p {
		padding: 0 10px;
	}
	.inForm {
		padding-left: 30px;
	}
	.inFormInput {
		padding-right: 0;
	}
}

@media (max-width: 40em) {
	.inForm {
		padding-left: 0;
	}
}

@media (min-width: 48em) {
	.masthead-brand {
		float: left;
	}
	.nav-masthead {
		float: right;
	}
}