* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	background-color: #111;
}

body {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	color: #DDD;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
	width: 50em;
}

.masthead {
	margin-bottom: 2rem;
}

.masthead-brand {
	margin-bottom: 0;
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

.error-image {
	border-radius: 3px;
	opacity: 0.6;
}

.cover {
	padding: 0 1.5rem;
}

.mastfoot {
	color: rgba(255, 255, 255, .5);
}

.cover-index {
	text-align: left;
	margin-top: 25px;
	padding-left: 175px;
}

.register-captcha, .form-control {
	width: 305px;
	margin: 5px auto;
}

input[type="password"], input[type="text"], input[type="email"] {
	color: #111;
	background-color: #DDD;
}


::-moz-selection {
	color: #333;
	background-color: #DCDCDC;
}

::selection {
	color: #333;
	background-color: #DCDCDC;
}

@media (max-width: 48em) {
	.error-image {
		width: 60%;
	}
	.form-control {
		width: 250px;
	}
	.cover-index {
		text-align: center;
		padding: 0;
	}
}

@media (min-width: 48em) {
	.masthead-brand {
		float: left;
	}
	.nav-masthead {
		float: right;
	}
}